@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">You, I, We</h1>
  <div class="card-body">

       <a asp-controller="User" asp-action="Register" class="btn btn-primary btn-lg"  >Register</a>
       <a asp-controller="User" asp-action="LogIn" class="btn btn-success btn-lg"  >LogIn</a>

   
	</div>
</div>
